<!--
这里的模板是微信的自定义菜单
-->
     <div class="ws_customMenu">
         <p class="warming">注意:这里的自定义菜单操作不要修改,除非你知道自己在做什么,改动菜单后对应的事件回复处理和对应的链接页面都要重新开发,如果需要改变菜单请联系软件开发商!</p>
         <div>
             <div class="menuSwitch">
                 <button class="customMenuButtonSwitch clicked"><i class="icon-aid"></i>创建菜单</button>
                 <button class="customMenuButtonSwitch"><i class="icon-pencil2"></i>编辑菜单</button>
             </div>
             <div class="menuUIContainer">
                 <div class="customMenuCreate">
                     <button class="startCreateStairMenu">创建一级菜单</button>
                     <div class="MenusBucket" style="display: none;">
                         <ul class="firstStairMenu">
                             <li class="stairMenu">
                                 <input type="text" mark="name"/>
                                 <input type="radio" />click
                                 <input type="radio" />view
                                 <input type="radio" subMenu="subMenu"/>子菜单
                                 <input type="text" mark="typeValue" style="display:none"/>
                                 <button style="display:none">创建子菜单</button>
                             </li>
                         </ul>
                     </div>
                     <button class="submitMenuCreate">创建</button>
                 </div>
                 <div class="customMenuEditeMenu">

                 </div>
             </div>


         </div>


     </div>